<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .card {
            margin-bottom: 20px;
            height: 350px;                      /* Fixed height */
            overflow: hidden;
        }
    
        .card-img-top {
            height: 180px;
            object-fit: cover;
        }
    
        .card-title {
            font-size: 1.1rem;
            font-weight: bold;
            white-space: nowrap;               /* Keep on one line */
            overflow: hidden;
            text-overflow: ellipsis;           /* Add ... if title is too long */
        }
    
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    
        .row-cols-4 > .col {
            padding: 10px;                     /* Space between cards */
        }
    </style>
    

    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <% blogs.forEach(blog => { %>
            <div class="col">
                <div class="card col" style="width: 18rem;">
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                  
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
         
        <% }) %>
        </div>
    </div>
    
    <%- include('./partials/scripts') %>
</body>
</html>